.Polaris-Tabs__Wrapper {
    border-bottom: var(--p-border-divider);
    padding: 0 var(--p-space-2);
}

.Polaris-Tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Polaris-Tabs__TabContainer {
    display: flex;
    margin: 0;
    padding: 0;
}

.Polaris-Button--Primary {
    background-color: green;
}

.rUXT_ {
    color: #1a0dab;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.XNE1s {
    color: #006621;
    line-height: 1rem;
    margin-bottom: 0.125rem;
}

.JZCmJ {
    color: #545454;
    line-height: 1.125rem;
}

.JZCmJ, .XNE1s {
    word-wrap: break-word;
    font-size: .8125rem;
    overflow-wrap: break-word;
    word-break: break-word;
}